.overview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-info-container {
  height: 750px;
  justify-content: center;
  align-items: center;
  margin: 100px
}

.thumbnails {
  order: 0;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  left: 500px;
}

.thumbnail {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  border: transparent 5px;
  width: auto;
  height: 75px;
  margin: 10px;
}

.thumbnail-active {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  padding: 2px;
  border-bottom: solid 5px black;
  width: auto;
  height: 75px;
  margin: 10px;
}

.thumbnail-active:hover {
  cursor: pointer;
}

.thumbnail:hover {
  cursor: pointer;
}

.image {
  width: 500px;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.image:hover {
  cursor: zoom-in;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 25px;
  font-size: 2rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 100px;
  font-size: 2rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}


