.overview {
  background: linear-gradient(to right,#beefed, #effbfb);
}

.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.break {
  flex-basis: 100%;
  height: 0;
  margin: 0px;
}

.gallery {
  position: relative;
  height: 82vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.expand-button {
  background-color: white;
  border: 5px solid white;
  border-radius: 10px;
  position: absolute;
  color: #525252;
  top:  6.13030069390902vh;
  right:  0.9765625vw;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 5
}

.expanded-expand-button {
  background-color: white;
  border: 5px solid white;
  border-radius: 10px;
  position: absolute;
  color: #525252;
  top: 15px;
  right: 15px;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 5
}

.expanded-image-container {
  position: relative;

}

.expanded-gallery {
  position: relative;
  height: 750px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 1s linear;
}

.expanded-image {
  /* width: 62.5vw;
  height: 750px;
  object-fit: contain;
  border-radius: 10px;
  margin-right: 50px;
  margin-left: 20px;
  overflow: auto; */
  width: 35.53125vw;
  height: 75.82575173477255vh;
  object-fit: cover;
  border-radius: 10px;
  cursor: crosshair
}

.product-category {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.product-name {
  margin-top: 0px;
  padding-top: 0px;
}

.expanded-left-arrow {
  border: 5px solid white;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 15px;
  font-size: 2rem;
  color: #525252;
  background-color: white;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}

.expanded-right-arrow {
  border: 5px solid white;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  background-color: white;
  right: 15px;
  font-size: 2rem;
  color: #525252;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}

.product-desc-container {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  margin: 0 auto;
  position: relative;
  width: 50%;
  top: -70px;
}

.product-desc-container-expanded {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  padding: 0px;
  position: relative;
  width: 50%;
  top: -50px;
}

.product-info-container {
  height: 82vh;
  justify-content: center;
  align-items: center;
  margin: 50px;
  margin-left: 20px;
  position: relative;
  top: 200px;
}

.thumbnail-container {
  height: 75px;
  width: 50px;
  margin: 10px;
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.thumbnails {
  order: 0;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  left: 500px;
  max-height: 700px;
  overflow: auto;
}
.expanded-thumbnails {
  order: 0;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  left: 200px;
  max-height: 700px;
  overflow: auto;
  z-index: 1;
}

.expanded-thumbnails::-webkit-scrollbar {
  display: none;
}

.thumbnails::-webkit-scrollbar {
  display: none;
}

.thumbnail {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  border: transparent 5px;
  width: auto;
  height: 75px;
  width: 50px;
  margin: 10px;
  object-fit: cover;
}

.thumbnail-active {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  padding: 2px;
  border-bottom: solid 5px black;
  height: 75px;
  width: 50px;
  margin: 10px;
  object-fit: cover;
}

.thumbnail-active:hover {
  cursor: pointer;
}

.styles-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}

.style-thumbnail {
  border-radius: 50%;
  height: 65px;
  width: 65px;
  object-fit: cover;
  padding: 10px;
  cursor: pointer;
}

.size-selector {
margin-top: 50px;
text-align: center;
width: 254px;
height: 63px;
}

.quantity-selector {
margin-left: 27px;
text-align: center;
width: 135px;
height: 63px;
}

.add-cart-button {
  margin-top: 26px;
  height: 63px;
  width: 327px;
}

.thumbnail:hover {
  cursor: pointer;
}

.image {
  width: 25.53125vw;
  height: 75.82575173477255vh;
  object-fit: cover;
  border-radius: 10px;
}

.image:hover {
  cursor: zoom-in;
}

.right-arrow {
  border: 5px solid white;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top: 50%;
  right: 25px;
  font-size: 2rem;
  color: #525252;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  border: 5px solid white;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 112px;
  font-size: 2rem;
  color: #525252;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}


